@import "../../styles/variables";
@import "../../styles/mixins";

.authedLayout{
  @include flexCol;
  min-height: 100vh;
  &::after {
    content: "";
    background-image: url("entranceBackground.svg");
    background-repeat: repeat repeat;
    background-size: 300px 300px;
    opacity: 0.17;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 1;
  }
}
