$primary: #E94057;
$primaryLight: #f6b2bb;

html, body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.primaryText{
  color: $primary;
}


.marginL5{
  margin-left: 5px;
}
.marginL10{
  margin-left: 10px;
}
.marginL15{
  margin-left: 15px;
}
.marginL20{
  margin-left: 20px;
}
.marginL25{
  margin-left: 25px;
}

.marginR5{
  margin-right: 5px;
}
.marginR10{
  margin-right: 10px;
}
.marginR15{
  margin-right: 15px;
}
.marginR20{
  margin-right: 20px;
}
.marginR25{
  margin-right: 25px;
}

.marginT5{
  margin-top: 5px;
}
.marginT10{
  margin-top: 10px;
}
.marginT15{
  margin-top: 15px;
}
.marginT20{
  margin-top: 20px;
}
.marginT25{
  margin-top: 25px;
}

.marginB5{
  margin-bottom: 5px;
}
.marginB10{
  margin-bottom: 10px;
}
.marginB15{
  margin-bottom: 15px;
}
.marginB20{
  margin-bottom: 20px;
}
.marginB25{
  margin-bottom: 25px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
