@import "./variables";

@mixin primaryGradientBackground {
  background: -webkit-linear-gradient(45deg, $primaryColor 30%, $secondaryColor);
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCol {
  @include flex;
  flex-direction: column;
}

@mixin flexColStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
