.portfolioPageWrapper{
  position: relative;
  height: 100vh;
  min-height: 800px;
  width: 100%;
  padding-top: 80px;
  .portfolioInnerWrapper{
    position: relative;
    height: auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.portfolioTopPaper, .portfolio7DayGraphPaper, .portfolioProfitGraphPaper{
  margin: 10px;
  padding: 20px;
}

.portfolioTopPaper{
  width: 100%;
}

.portfolio7DayGraphPaper, .portfolioProfitGraphPaper{
  width: calc(50% - 20px);
}


.modalContainer{
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.defaultModal{
  position: absolute;
  height: auto;
  min-height: 200px;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  outline: none;
  padding: 20px;
  background-color: white;
  opacity: 0;
  border-radius: 4px;
  animation: fadeIn forwards cubic-bezier(.25,.8,.25,1) 0.5s;
}
